    <!-- TODO: Discuss what should go in footer and implement -->
    <footer class="footer">
      <p>Link</p>
      <p>Link</p>
      <p>Link</p>
    </footer>
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"></script>
  </body>
</html>