    <!-- TODO: Discuss what should go in footer and implement -->
    <footer class="footer">

      <div class="quicklinks">
      <p> <a href="https://ursa-students.ca"> U of R Student Association </a>
      <br>
      2nd Floor, Riddell Centre (RC 221),
      <br> 
      3737 Wascana Parkway, Regina, SK.
      </p>
      </div>

      <p> <b>Time to make sure that UR-Involved</b>
        <br>
        Have any friends you think would want to get Involved? 
        <br>
        Recommend our site, and help strengthen our community!
      </p>
      
      <div class="quicklinks"> <p> 
      <b>Quick Links</b>
      <br>
      <a class="quicklink-buttons" href="/"> Home </button>
      <br>
      <a class="quicklink-buttons" href="/dashboard"> Your Dashboard </a>
      <br>
      <a class="quicklink-buttons" href="/create-club"> Create a Club </a>
      </p>
      </div>

    </footer>
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"></script>
  </body>
</html>