<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UR Involved</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
    />

    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <header class="header header-main">

      <div class="header-icon-container">
        <div class="hero-text">
          <h1>UR INVOLVED</h1>
          <p>The heart of student life at U of R.</p>
        </div>
      </div>

      <div class="header-nav-main">
        <% if (!currentUser) { %>
          <a href="/login" class="hero-btn-box">
            Login <span>››</span>
          </a>
        <% } else if (currentUser.role === "student") { %>
          <a href="/create-club" class="hero-btn-box">
            Create club <span>››</span>
          </a>
        <% } %>
      </div>

      <div class="dropdown dashboard-btn-container">

        <button 
          class="btn dropdown-toggle bg-transparent border-0"
          type="button"
          data-bs-toggle="dropdown"
          data-bs-display="static"
          aria-expanded="false">

          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="rgba(224, 210, 14, 1)" class="bi bi-person-fill" viewBox="0 0 16 16">
            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
          </svg>

        </button>

        <ul class="dropdown-menu dropdown-menu-end">

          <label class="btn btn-warning rounded-pill px-4" style="width: 192px; text-align: center">
            <% if (currentUser) { %>
              <%= currentUser.email %>
            <% } else { %>
              Not logged in
            <% } %>
          </label>

          <hr class="dropdown-divider">

          <% if (currentUser) { %>

            <li>
              <form action="/dashboard" method="get" class="dropdown-item" style="margin: 0;">
                <button class="bg-transparent border-0" type="submit" style="width: 100%; text-align: left">
                  Dashboard
                </button>
              </form>
            </li>

            <hr class="dropdown-divider">

            <li>
              <form action="/logout" method="post" class="dropdown-item" style="margin: 0;">
                <button class="bg-transparent border-0" type="submit" style="width: 100%; text-align: left">
                  Logout
                </button>
              </form>
            </li>

          <% } else { %>

            <li>
              <a href="/login" class="dropdown-item" style="text-align: left; display: block;">
                Login
              </a>
            </li>

          <% } %>

        </ul>
      </div>

    </header>