<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UR Involved</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="public/css/style.css" />
  </head>
  <body>
    <!-- Header should go in "header.ejs" for dynamic loading (maybe?) -->
    <header class="header header-main">
      <div class="header-icon-container">
        <img src="public/images/University_of_Regina_Logo.jpg" alt="UR Icon" />   <!-- Might change to SVG pending team agreement -->
        <h2>UR Involved</h2>
      </div>
      <!-- header-nav-main easily editable by providing the respective main links per page -->
      <!-- Should be implementable thru ejs -->
      <div class="header-nav-main">
        <!-- TODO: Add arrow indicator -->
        <button class="btn btn-warning">Create club</button>
        <button class="btn btn-warning">Events</button>
      </div>
      <!-- ToDo: Add nav links (homepage does not have nav links) -->
      <!-- TODO: Add profile for user dashboard -->
    </header>
    <div class="main">
      <div class="intro">
        <div class="intro-text">
          <h2>Be involved at U of R</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed
            vestibulum dui, sit amet congue nisi. Nullam non mi a libero ornare
            pretium. Nullam fringilla et dui quis feugiat. Proin ullamcorper
            eros est, id luctus nisl pellentesque id. Etiam lobortis vitae augue
            a semper. Maecenas eget tempus leo.
          </p>
        </div>
        <img
          src="public/images/pexels-ivan-s-5676744.jpg"
          alt="Bunch of students happily working together"
        />
      </div>
      <div>
        <h2>Clubs and Student Groups</h2>
        <div class="search-bar d-flex align-items-center">
          <i class="bi bi-search"></i>
          <input
            type="text"
            class="form-control border-0 shadow-none"
            placeholder="Type to search..."
          />
        </div>
      </div>
    </div>
    <div class="sort-card">
      <h4>Sort</h4>
      <ul class="list-group">
        <!-- Not sure how many options for sorting will be available but easily scalable -->
        <li>
          <input
            type="radio"
            name="sort"
            id="sort-by-name"
            class="form-check-input me-1"
            checked
          />
          <label for="sort-by-name" class="form-check-label">Name</label>
        </li>
        <li>
          <input
            type="radio"
            name="sort"
            id="sort-by-category"
            class="form-check-input me-1"
          />
          <label for="sort-by-category" class="form-check-label"
            >Category</label
          >
        </li>
        <li>
          <input
            type="radio"
            name="sort"
            id="sort"
            id="sort-by-date"
            class="form-check-input me-1"
          />
          <label for="sort-by-date" class="form-check-label"
            >Date created</label
          >
        </li>
      </ul>
      <hr />
      <h4>Filter</h4>
      <!-- Same implementation as sort. Unsure what filter options available -->
    </div>
    <div class="club-group">
      <!-- Iterate thru each club in db, should be easily implementable using a for loop -->
      <div class="club-card">
        <img
          src="public/images/University_of_Regina_Logo.jpg"
          alt="Filler club logo"
        />
        <p>Club name here</p>
        <!-- Here should come the social media icons -->
        <!-- TODO: specify css for clubs social media links icons -->
      </div>
      <div class="club-card">
        <img
          src="public/images/University_of_Regina_Logo.jpg"
          alt="Filler club logo"
        />
        <p>Club name here</p>
      </div>
      <div class="club-card">
        <img
          src="public/images/University_of_Regina_Logo.jpg"
          alt="Filler club logo"
        />
        <p>Club name here</p>
      </div>
      <div class="club-card">
        <img
          src="public/images/University_of_Regina_Logo.jpg"
          alt="Filler club logo"
        />
        <p>Club name here</p>
      </div>
      <div class="club-card">
        <img
          src="public/images/University_of_Regina_Logo.jpg"
          alt="Filler club logo"
        />
        <p>Club name here</p>
      </div>
    </div>
    <div class="call-to-action" id="first">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed
        vestibulum dui, sit amet congue nisi. Nullam non mi a libero ornare
        pretium.
      </p>
      <button class="btn btn-success">Go here!</button>
    </div>
    <div class="call-to-action" id="second">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed
        vestibulum dui, sit amet congue nisi. Nullam non mi a libero ornare
        pretium.
      </p>
      <button class="btn btn-success">Go here!</button>
    </div>

    <!-- Footer should go in "footer.ejs" for dynamic loading (maybe?) -->
    <!-- TODO: Discuss what should go in footer and implement -->
    <footer class="footer">
      <p>Link</p>
      <p>Link</p>
      <p>Link</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"></script>
  </body>
</html>
