<% if (clubs && clubs.length > 0) { %>
  <% clubs.forEach(club => { %>
    <div class="club-card">
      <a href="/clubs/<%= club._id %>" class="club-card-link">
        <img
          src="<%= club.logo || '/images/University_of_Regina_Logo.jpg' %>"
          alt="Club logo"
        />
        <p><%= club.name %></p>
        <small><%= club.category %></small>
      </a>
    </div>
  <% }) %>
<% } else { %>
  <p>No clubs are available.</p>
<% } %>