<%- include("layouts/secondary-header.ejs", { clubDetails: false, currentPage: "create-club"}) -%>

<nav class="breadcrumb-container" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Create Club</li>
  </ol>
</nav>
<div class="main">
  <div class="intro">
    <div class="intro-text">
      <h2>Want to create a club or group?</h2>
      <p>
        UR Involved makes creating a club or social group a breeze! Its 
        as easy as filling out the below form and waiting for it to be 
        approved. If you'd like to see the status of a club creation
        request, it will be on your dashboard, located in the menu near
        the top right of every page.
      </p >
      <a href="/dashboard">Alternatively, go straight to your dashboard</a>
    </div>
    <!-- TODO: Change image -->
    <img
      src="/images/pexels-olly-3776845.jpg"
      alt="Bunch of students happily working together"
    />
  </div>
</div>
<div class="create-club-form">
  <h2>Club creation form</h2>
  <form action="/clubs/create-request" method="post" enctype="multipart/form-data">
    <label for="club-name" class="form-label">Proposed club name</label>
    <input
      type="text"
      name="proposedName"
      id="club-name"
      class="form-control border-bottom mb-4 p-3"
      placeholder="Write your club name here."
    />

    <label for="club-description" class="form-label">Description</label>
    <textarea
      name="description"
      id="club-description"
      class="form-control p-3 mb-4"
      rows="20"
      placeholder="Write the description of your club's activities here. Make sure it matches the records we already have"
    ></textarea>

    <select name="category" id="club-category" class="form-select p-3 mb-4" aria-label="Club categories">
      <option value="None" selected>Select the category of your club here</option>
      <option value="Science">Science</option>
      <option value="Humanities">Humanities</option>
      <option value="Engineering">Engineering</option>
      <option value="Sports">Sports</option>
      <option value="Recreational">Recreational</option>
      <option value="Nursing">Nursing</option>
      <option value="Business">Business</option>
    </select>

    <label for="logo" class="form-label">Logo</label>
    <input
      type="file"
      name="logo"
      id="logo"
      class="form-control mb-4"
      accept=".png,.jpg,.jpeg,.gif,.webp"
    />

    <label for="contact-email" class="form-label">Contact Email</label>
    <input
      type="text"
      name="contactEmail"
      id="contact-email"
      class="form-control mb-4 p-3"
      placeholder="Write your club's contact email here"
    />

    <label for="website" class="form-label">Website</label>
    <input
      type="text"
      name="website"
      id="website"
      class="form-control mb-4 p-3"
      placeholder="Write your club's website here"
    />

    <!-- TODO: Discuss with team what else to ask for creation form -->
    <button type="submit" class="btn btn-success" >Submit</button>
  </form>
</div>

<%- include("layouts/footer.ejs") -%>