
<%- include("layouts/secondary-header.ejs", { clubDetails: false, currentPage: "editProfile", currentUser: user.email}) -%>

<nav class="breadcrumb-container" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit Profile</li>
  </ol>
</nav>

<!-- Please note: this is currently a filler in order to prevent the edit profiles button from giving an error.-->

<div class="main">
  <div class="intro">
    <div class="intro-text">
      <h2> This page is currently under construction</h2>
      <p>
        If you're reading this, it means you've found a page that will be finished in a future update to the program.
        In the future, here you will be able to change profile settings such as your profile picture.
      </p >
      <a href="/dashboard">For now, here is an easy way back.</a>
    </div>
  </div>
</div>