<%- include("layouts/header.ejs") -%>
    <div class="main">
      <div class="intro">
        <div class="intro-text">
          <h2>Be involved at U of R</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed
            vestibulum dui, sit amet congue nisi. Nullam non mi a libero ornare
            pretium. Nullam fringilla et dui quis feugiat. Proin ullamcorper
            eros est, id luctus nisl pellentesque id. Etiam lobortis vitae augue
            a semper. Maecenas eget tempus leo.
          </p>
        </div>
        <img
          src="../public/images/pexels-ivan-s-5676744.jpg"
          alt="Bunch of students happily working together"
        />
      </div>
      <div>
        <h2>Clubs and Student Groups</h2>
        <div class="search-bar d-flex align-items-center">
          <i class="bi bi-search"></i>
          <input
            type="text"
            class="form-control border-0 shadow-none"
            placeholder="Type to search..."
          />
        </div>
      </div>
    </div>
    <div class="sort-card">
      <h4>Sort</h4>
      <ul class="list-group">
        <!-- Not sure how many options for sorting will be available but easily scalable -->
        <li>
          <input
            type="radio"
            name="sort"
            id="sort-by-name"
            class="form-check-input me-1"
            checked
          />
          <label for="sort-by-name" class="form-check-label">Name</label>
        </li>
        <li>
          <input
            type="radio"
            name="sort"
            id="sort-by-category"
            class="form-check-input me-1"
          />
          <label for="sort-by-category" class="form-check-label"
            >Category</label
          >
        </li>
        <li>
          <input
            type="radio"
            name="sort"
            id="sort"
            id="sort-by-date"
            class="form-check-input me-1"
          />
          <label for="sort-by-date" class="form-check-label"
            >Date created</label
          >
        </li>
      </ul>
      <hr />
      <h4>Filter</h4>
      <!-- Same implementation as sort. Unsure what filter options available -->
    </div>
    <div class="club-group">
      <!-- Iterate thru each club in db, should be easily implementable using a for loop -->
      <div class="club-card">
        <img
          src="../public/images/University_of_Regina_Logo.jpg"
          alt="Filler club logo"
        />
        <p>Club name here</p>
        <!-- Here should come the social media icons -->
        <!-- TODO: specify css for clubs social media links icons -->
      </div>
      <div class="club-card">
        <img
          src="../public/images/University_of_Regina_Logo.jpg"
          alt="Filler club logo"
        />
        <p>Club name here</p>
      </div>
      <div class="club-card">
        <img
          src="../public/images/University_of_Regina_Logo.jpg"
          alt="Filler club logo"
        />
        <p>Club name here</p>
      </div>
      <div class="club-card">
        <img
          src="../public/images/University_of_Regina_Logo.jpg"
          alt="Filler club logo"
        />
        <p>Club name here</p>
      </div>
      <div class="club-card">
        <img
          src="../public/images/University_of_Regina_Logo.jpg"
          alt="Filler club logo"
        />
        <p>Club name here</p>
      </div>
    </div>
    <div class="call-to-action" id="first">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed
        vestibulum dui, sit amet congue nisi. Nullam non mi a libero ornare
        pretium.
      </p>
      <button class="btn btn-success">Go here!</button>
    </div>
    <div class="call-to-action" id="second">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed
        vestibulum dui, sit amet congue nisi. Nullam non mi a libero ornare
        pretium.
      </p>
      <button class="btn btn-success">Go here!</button>
    </div>

<%- include("layouts/footer.ejs")
